

.home{
    width: 100vw;
    height: 88vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #dadada;
    background-image: url('../resources/images/10.jpg');
    background-position: center;
}

.header{
    width: 100vw;
    height: 12vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(250, 244, 255);
}

.header svg{
    width: 35%;
}

@media (max-width: 764px){
    .home{
        position: relative;
        height: 92vh;
        justify-content: flex-end;
    }

    .header{
        height: 8vh;
    }

    .header svg{
        width: 70%;
    }
}