.mainDiv{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 60vw;
    height: 70vh;
    background-color: rgba(128, 54, 192, 0.353);
    /* background-color: rgba(234, 229, 241, 0.551); */
    border-top: 0.45vh solid rgba(145, 19, 255, 0.493);
    border-bottom: none;
}

.mainDiv span{
    width: 100%;
    height: 12.5%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0,0,0,0;
}

.title{
    display: flex;
    justify-content: center;
    width: 50%;
    font-size: 2.5vw;
    color: white;
    text-decoration: none;
    font-weight: 100;
}

.mainButton:hover{
    display: flex;
    justify-content: center;
    width: 50%;
    font-size: 2vw;
    color: white;
    text-decoration: none;
    font-weight: 100;
    background-color: rgba(72, 3, 132, 0.493);
    border-top-left-radius: 2vh;
    border-top-right-radius: 2vh;
}


.smallDiv{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60vh;
}

.mainDiv nav{
    display: flex;
    align-self: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 6vh;
}

.button{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    width: 16.66%;
    height: 100%;
    background-color: rgb(29, 3, 52);
    text-decoration: none;
    border-style: none;
    cursor:pointer;
    font-size: 1.5vw;
}

.button:hover{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    width: 16.66%;
    height: 100%;
    background-color: rgb(44, 4, 79);
    text-decoration: none;
    border-style: none;
    cursor:pointer;
    font-size: 1.5vw;
}

.button_active{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: white;
    background-color: rgba(145, 19, 255, 0);
    width: 16.66%;
    background-color: none;
    text-decoration: none;
    font-size: 1.5vw;
    border-bottom: 0.3vh solid rgba(145, 19, 255, 0.493);
    border-top: none;
    border-left: 0.3vh solid rgba(145, 19, 255, 0.493);
    border-right: 0.3vh solid rgba(145, 19, 255, 0.493);
}